---
import Page from "../layouts/Page.astro";
import Navbar from "../components/Navbar.astro";
import ImageCard from "../components/ImageCard.astro";
import Floats from "../components/Floats.astro";

import servicesJson from "../data/services.json";
---

<Page>
  <Navbar />

  <section id="section-hero">
    <div
      class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56 bg-center bg-cover bg-no-repeat bg-[url('/images/hero.jpg')] bg-gray-700 bg-blend-multiply"
    >
      <h1
        class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"
      >
        Iluminando tu camino con seguridad y experiencia eléctrica.
      </h1>
      <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">
        Expertos en energizar tus proyectos con calidad y compromiso.
      </p>
      <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
        <a
          href="#section-contact"
          class="inline-flex transition-colors justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
        >
          Contáctanos
          <svg
            class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"></path>
          </svg>
        </a>
      </div>
    </div>
  </section>

  <section id="section-about" class="mt-10">
    <h2
      class="text-blue-700 font-bold uppercase text-xl inline-block border-b-2 border-blue-700 mb-5"
    >
      Sobre nosotros
    </h2>

    <div class="mx-auto max-w-screen-xl text-center">
      <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl text-start">
        Somos una empresa con varios años de experiencia en el campo dedicada a brindar servicios
        eléctricos de alta calidad para satisfacer las necesidades de nuestros clientes. Nuestro
        compromiso es proporcionar soluciones eléctricas seguras, eficientes y confiables para
        hogares, negocios e industrias.
      </p>
      <img src="/images/logo.png" class="h-56 sm:scale-125 mx-auto" alt="Flowbite Logo" />
    </div>
  </section>

  <section id="section-services" class="mt-10">
    <h2
      class="text-blue-700 font-bold uppercase text-xl inline-block border-b-2 border-blue-700 mb-5"
    >
      Servicios
    </h2>

    <div class="flex flex-wrap gap-7 justify-around">
      {
        servicesJson.map(({ title, description, src }) => (
          <ImageCard title={title} description={description} src={src} />
        ))
      }
    </div>
  </section>

  <section id="section-contact" class="mt-10">
    <h2
      class="text-blue-700 font-bold uppercase text-xl inline-block border-b-2 border-blue-700 mb-5"
    >
      Contacto
    </h2>

    <div class="mx-auto max-w-screen-xl text-start">
      <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl text-start">
        ¿Listo para comenzar? Ponte en contacto con nosotros hoy mismo para obtener más información
        sobre nuestros servicios eléctricos.
      </p>
      <div class="flex justify-center items-center">
        <div>
          <h3 class="text-lg font-bold mb-2">Información de contacto:</h3>
          <p class="text-gray-700 mb-2 font-semibold">
            Teléfono: <span class="block sm:inline-block font-normal">+51 935181267</span>
          </p>
          <p class="text-gray-700 mb-2 font-semibold">
            Correo electrónico: <span class="block sm:inline-block font-normal"
              >luisangelsprs@gmail.com</span
            >
          </p>
        </div>
      </div>
    </div>
  </section>

  <Floats />
</Page>
