<div class="mx-auto max-w-screen-xl text-start">
  <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl text-start">
    ¿Listo para comenzar? Ponte en contacto con nosotros hoy mismo para obtener más información
    sobre nuestros servicios eléctricos.
  </p>
  <div class="flex flex-wrap justify-center items-center">
    <div>
      <h3 class="text-lg font-bold mb-2">Información de contacto:</h3>
      <p class="text-gray-700 mb-2 font-semibold">
        Teléfono: <span class="block sm:inline-block font-normal">+51 935181267</span>
      </p>
      <p class="text-gray-700 mb-2 font-semibold">
        Correo electrónico: <span class="block sm:inline-block font-normal"
          >luisangelsprs@gmail.com</span
        >
      </p>
    </div>

    <!-- <div class="w-full md:w-1/2 lg:w-2/3">
      <h3 class="text-lg font-bold mb-2">Formulario de contacto:</h3>
      <form action="#" method="POST" class="mb-4">
        <input type="text" name="name" placeholder="Nombre" class="w-full p-2 mb-2" required />
        <input
          type="email"
          name="email"
          placeholder="Correo electrónico"
          class="w-full p-2 mb-2"
          required
        />
        <input type="text" name="subject" placeholder="Asunto" class="w-full p-2 mb-2" required />
        <textarea name="message" placeholder="Mensaje" rows="4" class="w-full p-2 mb-2" required
        ></textarea>
        <button
          type="submit"
          class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition-colors"
          >Enviar mensaje</button
        >
      </form>
    </div> -->
  </div>
</div>
