<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Porras Electric S.A.C</title>
    <link rel="icon" href="/icons/logo.jpg" type="image/x-icon" />
    <meta
      name="description"
      content="Iluminando tu camino con seguridad y experiencia eléctrica. Expertos en energizar tus proyectos con calidad y compromiso."
    />
    <meta
      name="keywords"
      content="electricidad, servicios eléctricos, instalación eléctrica, mantenimiento eléctrico, seguridad eléctrica"
    />
    <meta name="author" content="Porras Electric S.A.C" />
  </head>
  <body class="bg-slate-50 px-5 xl:px-0 max-w-[1280px] mx-auto relative min-h-screen pb-8">
    <slot />
    <script
      defer
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
